.started {
    display : flex ; 
    margin : 13% 15% 1% 15% ;
}
.starttitle {
    font-size : 2.6rem ;
    color: rgb(41, 41, 41);
     letter-spacing: -0.05rem; 
     font-weight : normal ;
}
.blog {
    flex : 50% ;
}
.image {
    flex : 50% ;
}
.button {
    font-family:'Eina Bold',sans-serif!important;
    font-size:1.1rem;
    background-color: #292929;
    color : white ;
    font-size : 1.095rem;
    padding: 15px 20px 15px 20px; 
    border-radius : .8rem;
    text-decoration: none ;
    font-family: bold ;
    margin-top : 2rem ;
}