#menu {
    text-align : center ;
    font-size : 1.1rem ;
    margin : 1% 15% 8% 15% ;
}
.food {
    display : flex ;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2.8rem;
}
.pangoa {
    flex : 20% ;
    height : 15rem ; 
    width : 2rem ;
    border-radius : 6%;
    overflow : hidden ; 
    margin : 1rem ;
}
.pangoa:hover {
    border: 1px solid black;
 }
.pangoa>img { 
    height : 9.5rem ; 
    object-fit : contain ;
}
.button {
    font-family:'Eina Bold',sans-serif!important;
    font-size:1.1rem;
    background-color: #292929;
    color : white ;
    font-size : 1.095rem;
    padding: 15px 20px 15px 20px; 
    border-radius : .5rem;
    text-decoration: none ;
    font-family: bold ;
    margin-top : 2rem ;
}